:root{
    --primary:rgb(245, 245, 245);
    --secondary:linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
    --tertiary:linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

/* table */

table{
    border: 2.8px solid black;
    margin-left: 10rem;
    margin-top: 1.5rem;
    padding: 0.8;
    box-shadow: 0 6px 7px rgb(43, 42, 42);
   
}
 thead tr, tbody tr{
    border: 2.2px solid black;
    padding: 0.5;
    margin: 1.6rem;
    

}
tbody td{
    border: 2px solid black;
    margin: 1.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    color: black;
    text-align: center;
  
    font-family: sans-serif;
}
thead th{
    border: 2px solid black;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center; 
    font-family: sans-serif;
    color: black;
    font-weight: bold;
 
} 
thead h4{
    font-size: 20px;
}

/* flex */
/* .boxs{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-top: 5rem;
    width: 160vh;
    height: 67vh;
   
   
    padding: 0;
}
.vertical{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    width: 65vh;
    height: 65vh;
    border-radius: 5px;
     padding-right: 0.6rem;
     padding-top: 0.8rem;
     margin-right: 4rem;
    border: 3px solid black;
    box-shadow: 0 5px 6px black;
    background-image: var(--tertiary);

}
/* timeline */
/* .time{
         
    width: 90vh;
    height: 66vh;
    border: 5px solid rgb(0, 28, 44);
    border-radius: 9px;
    box-shadow: 0 5px 6px rgb(0, 21, 37) ; 
    background-color: white;
} */

/* options */
/* .stud{
    text-align: center;
    font-size: 1.6rem;
   
font-family: sans-serif;
color: black;
}
.Nav1{
    display: flex;
    flex-direction: row;
    flex-flow: row;
   
   
}
.sign{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

li{
    background-color: var(--primary);
    padding: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    border: 3.4px solid rgb(1, 34, 44);
    border-radius: 15px;
    width: 25vh;
    text-align: center;
  
    font-size: 1.2rem;
    font-family: sans-serif;
}


li:hover{
    background-image: var(--secondary);
    color: white;
}

.sign:hover{
    text-shadow: 0 7px 8px black;
    font-size: 1.8rem;
} */ 