


.sec p{
    color:rgb(0, 17, 32);
    margin-left: 18rem;
    margin-top: 1rem;
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: 0px 5px 5px rgb(172, 169, 169);
}

.option{
    margin-left: 25rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 4.7rem;
    margin-top: 4rem;
    border: 2px solid black;
    width: 55%;
    padding: 1.5rem;
    border-radius: 4px;
    background-color:rgb(219, 219, 219);
    
}

.ones,.twos,.threes{
    margin-right: 1rem;
}
select{
    border-radius: 5px;
    text-align: center;
}

label{
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.sel{
    margin-right: 2.1rem;
    font-size: 1.4rem;
}

.boxs label{
    font-size: 1.5rem;
}

.boxs{
   margin-left: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.add{
    padding: 0.4rem;
    border-radius: 3px;
    background-color: rgb(0, 41, 32);
    color: white;
    font-weight: bold;
}
.mr10{
    padding: 0.4rem;
    border-radius: 3px;
    background-color: rgba(243, 27, 27, 0.911);
    color: white;
    font-weight: bold;
}

.nextone{
    margin-left: 45rem;
    margin-top: 2rem;
   width: 5%;
   text-align: center;
   padding: 0.8rem;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: rgba(0, 68, 20, 0.911);
    color: white;
    font-weight: bold;
}

.nextone:hover ,.add:hover,.mr10:hover{
    opacity: 0.7;
    background-color: rgb(75, 4, 15);
}

.btn-box .mr10{
    margin-right: 1rem;
}

.dyn{
    background-color: white;
    margin-left: 24rem;
    width: 60%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border: 1px solid #e4eaec;
    border-radius: 3px;
}
.dyns{
    background-color: white;
    margin-left: 24rem;
    width: 70%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border: 1px solid #e4eaec;
    border-radius: 3px;
}

.dyns h4{
    font-weight: bold;
}

.options{
    margin-left: 30rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 4.7rem;
    margin-top: 4rem;
    border: 2px solid black;
    width: 45%;
    padding: 1.5rem;
    border-radius: 4px;
    background-color:rgb(219, 219, 219);
}
 
.options select{
    margin-right: 2rem;
}
.options label{
    margin-left: 3rem;
}

.ta{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin-left: 45rem;
    margin-top: 2rem;
   
   text-align: center;
   padding: 0.8rem;
    
    
}
.btn-1{
   
    background-color: rgb(1, 53, 1);
    color: white;
    padding: 0.6rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    margin-right: 1.4rem;
    border-radius: 4px;
}
.btn-2{
     border-radius: 4px;
    background-color: rgb(0, 37, 46);
    color: white;
    padding: 0.6rem;
    font-size: 1.4rem;
    font-family: sans-serif;
}

.btn-1:hover, .btn-2:hover{
    opacity: 0.7;
    background-color: rgb(252, 42, 5);
    color: black !important;
}

.frame{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}
.frame-1{

    background-color: white;
    margin-top: 2rem;
    margin-left: 18rem;
    width: 45%;
    height: 80vh;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border: 1px solid #e4eaec;
    border-radius: 3px;
}
.check{
    margin-top: 1rem;
    margin-left: 6rem;
    padding: 1rem;
}
.check input{
    margin-left: 1.2rem;
    margin-right: 1rem;
}
#ch{
    height: 20px;
    width: 20px;
    
}
#S,#E{
    border-radius: 3px;
    height: 25px;
    text-align: center;
}

.space{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 90%;
    height: 60vh;
    overflow-y: scroll;
    background-color: #eaebeb;
    padding: 1rem;
   
}
.space ul{
    list-style: none;
    
    
}
.space ul li{
    display: flex;
    flex-direction: row;
    flex-flow: row;
     
}

.space ul li input{
    margin-right: 1.5rem;
}
.space ul li p{
    font-family: sans-serif;
   
}
.frame-2{
    background-color: white;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 25%;
    height: 80vh;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border: 1px solid #e4eaec;
    border-radius: 3px;
}

.f{
    background-color: #eaebeb;
    width: 89%;
    height: 75vh;
    margin-top: 1.3rem;
    margin-left: 1.3rem;
    overflow-y: scroll;
}
.f ul li{
    background-color: white;
    padding: 0.5rem;
    margin-right: 1rem;
    border: 1.3px solid grey;
    margin-bottom: 0.7rem;
    border-radius: 3px;
}
.f p{
    font-family: sans-serif;
    font-size: 1rem;
    margin-right: 5.5rem;
    margin-left: 1rem;
    text-align: center;
    font-weight: 1.9rem;
}
.f button{
    background-color: rgb(75, 0, 0);
    color: white;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 6px;
    justify-items: right;
}
.f .div{
    display:"flex";
     flex-direction:"row";
     flex-flow: row;
}
.frames{
    position: absolute;
    top: 1%;
    left: 20%;
}