.top_nav{
    width:180vh;
    height: 15vh;
    background-color: var(--secondary);
   margin-left: 20vh;
    
   
}
.plus_btn{
    margin-left: 6vh;
    
}

.subName{
    width: 55vh;
    margin-left: 10vh;
}
.facName{
    width: 50vh;
    margin-left: 10vh;
}
.table{
    margin-top: 5vh;

}
.tablediv{
    width: 150vh;
    margin-left: 5vh;
    margin-top: 2vh;
}

.time{
         
    width:85%;
    height: 100%;
    margin-left: 13rem;
    margin-top: 8rem;
   background-color: #FFFFFF;
   box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
   background-clip: border-box;
   border-radius: 3px;
   border: 1px solid #e4eaec;
} 

/* .time2{
    margin-left: 10rem;
} */