@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
html {
  cursor: url("../assets/image/cursor.png"), auto;
}
body {
  background-color: white;
}

img.sideBarIcon {
  width: 20px !important;
  height: 20px !important;
}

img {
  width: 203.8vh;
  height: 77vh;
}

.loader {
  height: 200px !important;
  width: 200px;
  margin: auto;
  display: block;
  margin-top: 15%;
}

.log {
  width: 9rem;
  height: 9rem;
  border-radius: 6px;
  box-shadow: 4px 6px 6px black;
  position: absolute;
  top: 9%;
  left: 6%;
  -webkit-animation: focus-in-contract 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1s both;
  animation: focus-in-contract 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.nam {
  position: absolute;
  top: 29%;
  left: 3%;
  text-shadow: 0px 4px 8px rgba(22, 22, 22, 0.6);
  font-size: 2.4rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1s 1 both;
  animation: focus-in-expand-fwd 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 1
    both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.head {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 20rem;
  height: 3.5rem;
  border-radius: 7px;
  box-shadow: 5px 8px 8px rgb(36, 35, 35);
  font-size: 2rem;
  text-align: center;
  color: aliceblue;

  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}
.box img {
  width: 4rem;
  height: 4rem;
}
.flex {
  position: absolute;
  display: flex;
  flex-direction: row;

  width: 0px;
  margin-left: 25rem;
  top: 69%;
  height: 12rem;

  border-radius: 8px 8px 8px 8px;
  box-shadow: 5px 5px 8px solid rgb(167, 11, 11);
  border-right: 2px rgb(218, 214, 214);
}
.flex .box {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 7;
  width: 30rem;
  cursor: pointer;
  padding: 1.9rem;
  border-radius: 9px;
  border-bottom: 4px solid
    linear-gradient(90deg, rgb(231, 15, 80) 0%, rgb(3, 88, 69) 94%); /* background-color: white !important; */
  -webkit-box-shadow: 0 14px 16px -6px #000000;
  -moz-box-shadow: 0 14px 16px -6px #000000;
  box-shadow: 0 14px 16px -6px #000000;
}

.flex .box img {
  width: 5.2rem;
  height: 5.2rem;
}

.flex .box a {
  text-decoration: none;
}
.flex .box h3 {
  padding-top: 0.8rem;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  font-family: "Baloo Tammudu 2", cursive;
  text-size-adjust: 2rem;
  color: black;
  padding-left: 1.6rem;
  text-decoration: none;
  padding-right: 1.6rem;
}

.a:hover {
  text-decoration: none;
  /* cursor: url("../assets/image/pointer.png"),auto; */
}
.box:hover {
  background-image: linear-gradient(135deg, #92ffbfa4 10%, #002761 100%);
  border-radius: 6px 6px 6px 6px;

  color: white !important;

  /* cursor: url("../assets/image/pointer.png"),auto; */
  border-bottom: 8px solid rgb(6, 61, 65);
  transition: all 0.4s ease-out;
  transform: scale(1.3);
}

#two:hover {
  background-image: linear-gradient(135deg, #ff9d6cb6 10%, #bb4e74 100%);
  border-bottom: 8px solid rgb(163, 27, 68);
  /* cursor: url("../assets/image/pointer.png"),auto; */
}

#thee:hover {
  background-image: linear-gradient(135deg, #fdea71a8 10%, #f8d800 100%);
  border-bottom: 8px solid rgb(187, 184, 2);
  /* cursor: url("../assets/image/pointer.png"),auto; */
}
